@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条，但仍可滚动 */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

html {
  --options-header-height: 4rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.2s ease;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1)); /* #ffffff */
}

.dark body {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity, 1)) /* #0f172a */;
}

/* 禁用 Edge / IE 的密码显示按钮 */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
